[submodule "5/julian_atkin"]
	path = 5/julian_atkin
	url = https://github.com/jmdatkin/work0.git
[submodule "sys_hw00"]
	path = sys_hw00
	url = git@github.com:atolen/sys_hw00.git
[submodule "5/manish_saha"]
	path = 5/manish_saha
	url = https://github.com/sahamanish99/work_euler.git
[submodule "10/kli"]
	path = 10/kli
	url = https://github.com/noobbyte/euler
